.title {
    font-size: 36px;
    color: violet;
}

.red {
    font-size: 16px;
    color: red
}

.blue {
    font-size: 12px;
    color: blue
}

.yellow {
    font-size: 9px;
    color: yellow;
    background-color: black;
}

.green {
    font-size: 6px;
    color: green
}

.violet {
    font-size: 3px;
    color: violet
}